.min-20{min-width: 10rem; margin: 0 0 0 0px;max-width: 30rem;}
.min-9{min-width: 9rem;padding-right: 50px;}
.min-5{min-width: 5rem;padding-right: 100px;}
.btn-secondary{background-color: white!important;}