.img{padding-left: 10px;padding-right: 10px;}
#shift{position:absolute;right:600px;}
#shift1{position:absolute;right:450px;}
.review{width:390px;height:90px;align-self: center;background-color: white;border: black solid;}